---
- name: Abhängigkeiten für Repository-Management installieren
  become: yes
  apt:
    name:
      - gpg
      - apt-transport-https
      - software-properties-common
    state: present

- name: Microsoft GPG-Key herunterladen
  become: yes
  get_url:
    url: "{{ vscode_gpg_key_url }}"
    dest: /usr/share/keyrings/microsoft.asc
    mode: '0644'

- name: VS Code Repository hinzufügen
  become: yes
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/microsoft.asc] https://packages.microsoft.com/repos/code stable main"
    state: present
    filename: vscode

- name: Visual Studio Code installieren
  become: yes
  apt:
    name: code
    state: present
    update_cache: yes

- name: VS Code Extensions installieren
  shell: "code --install-extension {{ item }} --force"
  loop: "{{ vscode_extensions }}"
  register: extension_result
  changed_when: "'already installed' not in extension_result.stdout"
