---
- name: import gpg key
  ansible.builtin.apt_key:
      url: https://packages.microsoft.com/keys/microsoft.asc
      state: present
      register: key_import

- name: add vscode repository
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main
    state: present
    filename: vscode
    register: repo_add

- name: install vscode
  ansible.builtin.apt:
    name: code
    state: present
    update_cache: yes

- name: Ensure font directory exists
  ansible.builtin.file:
    path: "~/.local/share/fonts"
    state: directory
    mode: '0755'

- name: Download and Install FiraCode Nerd Font (Example)
  ansible.builtin.get_url:
    url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.1.1/FiraCode.zip"
    dest: "/tmp/FiraCode.zip"

- name: Create VS Code User directory if it doesn't exist
  ansible.builtin.file:
    path: "~/.config/Code/User"
    state: directory
    mode: '0755'

- name: Apply VS Code Terminal Font Settings
  ansible.builtin.copy:
    dest: "~/.config/Code/User/settings.json"
    content: |
     {
        "terminal.integrated.fontFamily": "FiraCode Nerd Font",
        "terminal.integrated.fontSize": 14,
        "editor.fontFamily": "'Fira Code', 'Droid Sans Mono', 'monospace'",
        "editor.fontLigatures": true
      }
    mode: '0644'
