---
- name: System-Abhängigkeiten installieren
  become: yes
  apt:
    name: "{{ dependencies }}"
    state: present
    update_cache: yes

- name: Prüfen, ob eine alte Neovim-Konfiguration existiert
  stat:
    path: "{{ nvim_dest_dir }}"
  register: nvim_dir

- name: Bestehende Konfiguration sichern
  command: "mv {{ nvim_dest_dir }} {{ nvim_dest_dir }}{{ backup_suffix }}"
  when: nvim_dir.stat.exists and nvim_dir.stat.isdir
  # Verhindert Fehler, falls das Verzeichnis bereits verschoben wurde
  args:
    creates: "{{ nvim_dest_dir }}{{ backup_suffix }}"

- name: NvChad Starter Repository klonen
  git:
    repo: "{{ nvchad_repo }}"
    dest: "{{ nvim_dest_dir }}"
    depth: 1
    update: yes

- name: Berechtigungen für den aktuellen User sicherstellen
  file:
    path: "{{ nvim_dest_dir }}"
    state: directory
    recurse: yes
    owner: "{{ ansible_user_id }}"