---
- name: Remove old Go installation
  ansible.builtin.file:
    path: /usr/local/go
    state: absent

- name: Extract Go archive to /usr/local
  ansible.builtin.unarchive:
    src: "/tmp/{{ go_archive }}"
    dest: /usr/local
    remote_src: yes

- name: Add Go to system PATH (global)
  ansible.builtin.copy:
    dest: /etc/profile.d/golang.sh
    content: |
      export PATH=$PATH:/usr/local/go/bin
    mode: '0644'

- name: Add Go paths to User Zsh config
  become: no
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    block: |
      # Go Configuration
      export GOROOT=/usr/local/go
      export GOPATH=$HOME/go
      export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
    marker: "# {mark} ANSIBLE MANAGED BLOCK: Go"

- name: Ensure GOPATH directory exists
  become: no
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/go"
    state: directory
    mode: '0755'

- name: Cleanup download
  ansible.builtin.file:
    path: "/tmp/{{ go_archive }}"
    state: absent