---
- name: Install dependencies for Vivaldi
  ansible.builtin.apt:
    name:
      - wget
      - gnupg
      - apt-transport-https
    state: present
    update_cache: yes

- name: Create directory for GPG keyrings
  ansible.builtin.file:
    path: /usr/share/keyrings
    state: directory
    mode: '0755'

- name: Add Vivaldi GPG key
  ansible.builtin.get_url:
    url: "{{ vivaldi_gpg_key }}"
    dest: /tmp/vivaldi_key.pub
    mode: '0644'

- name: De-armor Vivaldi GPG key
  ansible.builtin.shell:
    cmd: "gpg --dearmor < /tmp/vivaldi_key.pub > /usr/share/keyrings/vivaldi-browser.gpg"
    creates: /usr/share/keyrings/vivaldi-browser.gpg

- name: Add Vivaldi Repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/vivaldi-browser.gpg] {{ vivaldi_repo_url }} stable main"
    state: present
    filename: vivaldi

- name: Install Vivaldi Browser
  ansible.builtin.apt:
    name: "{{ vivaldi_package }}"
    state: present
    update_cache: yes